.section-advanteges {
  padding-top: 112px;
  padding-bottom: 100px;
  background-color: #faf9fe;
}

.advanteges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 240px;
}

.advanteges-item {
  position: relative;
  top: 100px;
}

.icon_01 {
  margin-left: 45px;
  width: 70px;
  height: 70px;
  display: block;
  cursor: pointer;
}

.avanteges_nomer {
  display: block;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

