.footer{
    background-color: #22222b;
  width: 100%;
  height: 80px;
  color: #fff;
  height: 80px;
  margin-bottom: -30px;

  span{
    margin-left: 400px;
    position: relative;
    top: 30px;
  }
}

.social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.social-network_item {
  margin-left: 10px;
}

.social-network_link {
  color: #fff;
}

.social-network i {
  padding-left: 15px;
  color: #fff;
  font-size: 16px;
}