.header-bg {

   .header {
  margin-top: -8px;
  width: 100%;
  height: 1090px;
 
}
.logo {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}

.nav {
  display: flex;
  z-index: 100;
  li {
    margin-right: 20px;
    list-style: none;
    a {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
    a:hover {
      text-decoration: underline;
      transition: 1s ease-out;
    }
  }
}

.wrap {
    text-align: center;
    position: relative;
    font-size: 20px;
    margin-top: 400px;
}
 li {
  font-size: 18px;
  font-weight: 500;
 }
}

.nav {
  position: fixed;
  right: 150px;
  top: 0;
}


