@import './components/header.scss';
@import './components/about.scss';
@import './components/mySecvices.scss';
@import './components/MyPortfolio.scss';
@import './components/BanerWork.scss';
@import './components/testimonials.scss';
@import './components/advantages.scss';
@import './components/getItTouch.scss';
@import './components/footer.scss';

.wrapper {
  margin-left: 300px;
  margin-right: 300px;
}

body {
  margin-left: 0px;
  margin-right: 0px;
}

.center {
  margin: 0 auto;
  position: absolute;
  text-align: center;
}

.active {
  background: rgba(254, 95, 30, 0.05);
  font-weight: bold;
}

.text-center {
  text-align: center;
}